<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatBot UI</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

<form action="" method="post">
    {% csrf_token %}
    <div class='flex flex-col items-center justify-center w-auto mt-10 border-solid'>
      {% comment %} {{form}} {% endcomment %}
      {% comment %} display and style all the fields in the form including the labels {% endcomment %}
      {% for field in form %}
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="{{field.id_for_label}}">{{field.label}}</label>
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="{{field.field.widget.input_type}}" name="{{field.name}}" id="{{field.id_for_label}}" value="{{field.value}}">
        </div>
      {% endfor %}
      <div class="flex items-center justify-between">
         <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 m-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
         Submit
         </button>
      </div>
    </div>
</form>
</body>
</html>